*/out
*/debug
*/src/debug

Cargo.lock
*.rustc_info.json
out.json
.idea
.DS_STORE
.ideas.txt
.vscode
.vscode/*
*/.vscode

target
*/target
target/*
*/target/*

output
output/*
*/output
*.evm
*.asm

heimdall/scripts/update
heimdall/scripts/git

coverage.xml
*.o
false
false/*
*/false

*.svg
*.sh

largest1k

bun.lockb
node_modules
