*/out
*/debug
*/src/debug

Cargo.lock
*.rustc_info.json
out.json
.idea
.DS_STORE

target
*/target
target/*
*/target/*

output
output/*
*/output
*.evm
*.asm

heimdall/scripts/update
heimdall/scripts/git