[package]
name = "heimdall-core"
description = "Heimdall is an advanced Ethereum smart contract toolkit for forensic and heuristic analysis."
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
homepage.workspace = true
repository.workspace = true
keywords.workspace = true
exclude.workspace = true

[dependencies]
async-recursion = "1.0.5"
thiserror = "1.0.50"
backtrace = "0.3"
clap = { version = "3.1.18", features = ["derive"] }
colored = "2"
crossterm = "0.26.1"
ethers = "2.0.4"
fancy-regex = "0.11.0"
heimdall-cache = { workspace = true }
heimdall-common = { workspace = true }
heimdall-config = { workspace = true }
indicatif = "0.17.0"
lazy_static = "1.4.0"
petgraph = "0.6.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
strsim = "0.10.0"
tokio = { version = "1", features = ["full"] }
tui = "0.19"
derive_builder = "0.12.0"
async-convert = "1.0.0"
futures = "0.3.28"
tracing = "0.1.40"
gag = "1.0.0"

# modules
heimdall-cfg = { workspace = true }
heimdall-dump = { workspace = true }
heimdall-decoder = { workspace = true }
heimdall-inspect = { workspace = true }
heimdall-snapshot = { workspace = true }
heimdall-decompiler = { workspace = true }
heimdall-disassembler = { workspace = true }
