name: Unit Tests (On Pull Request)

on:
  pull_request_review:
    types: [submitted]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build Binaries
      run:  |
        cargo clean
        cargo build --verbose

    - name: Run Tests
      run: |
        cargo test --package heimdall -- test_ --nocapture
        cargo test --package heimdall-config -- test_ --nocapture
        cargo test --package heimdall-common -- test_ --nocapture
